{{>header}}

{{! ASSUMES WE ARE AUTHENTICATED TO SEE THIS PAGE. }}

{{! We can see status and private notes only if we are the author. }}

<h1>View a resolution</h1>

	<div class="row">
		<div class="six columns">

{{#resolution}}

			<h5>Resolution Status: {{status_title}}</h5>
			<h5><span>Resolution ID: {{id}}</span></h5>
			<h5><span>Creation: {{creationTimeStamp}}</span></h5>

			<p>Board ID: {{boardID}}</p>
			<p>author ID: {{authorID}}</p>

			<p>Public notes about this resolution:</p>
			<div id='publicNotesMarkdownRendered'>{{{publicNotesMarkdown}}}</div>

{{#privateNotesMarkdownRendered}}
			<p><span style="color:red">Private</span> notes about this resolution:</p>
			<div id='privateNotesMarkdownRendered'>{{{privateNotesMarkdownRendered}}}</div>
{{/privateNotesMarkdownRendered}}


{{/resolution}}
{{#resolution_version}}

{{! RENDERED, WHEN VERSION IS ALREADY PUBLISHED }}

			<p>Co-Authors: {{coauthors}}</p>

			<p>Resolution Body:</p>
			<div id='textMarkdownRendered'>{{{textMarkdownRendered}}}</div>

		</div>{{!six columns}}
	</div>{{!row}}






{{>footer}}
