{{>header}}

{{! ASSUMES WE ARE AUTHENTICATED TO SEE THIS PAGE. }}

<h1>Resolutions</h1>


    {{#my_resolutions}}
    <div class="row">
      <div class="three columns">
		<h5><a href="/resolution/{{id}}">{{title}}</a></h5>
      </div>
      <div class="six columns">
        <p><span>{{authorid}}</span></p>
      </div>
      <div class="three columns">
      </div>
    </div>
    {{/my_resolutions}}
	{{^my_resolutions}}
	<p>No resolutions of mine…</p>
	{{/my_resolutions}}

    {{#public_resolutions}}
    <div class="row">
      <div class="three columns">
		<h5><a href="/resolution/{{id}}">{{title}}</a></h5>
      </div>
      <div class="six columns">
        <p><span>{{authorid}}</span></p>
      </div>
      <div class="three columns">
      </div>
    </div>
    {{/public_resolutions}}
	{{^public_resolutions}}
	<p>No public resolutions…</p>
	{{/public_resolutions}}


{{>footer}}

