{{>header}}

{{! ASSUMES WE ARE AUTHENTICATED TO SEE THIS PAGE. }}

<h1>Resolutions</h1>


    {{#resolutions}}
    <div class="row">
      <div class="three columns">
        <h5><span>{{short}}</span></h5>
      </div>
      <div class="six columns">
        <p><span>{{long}}</span></p>
      </div>
      <div class="three columns">
      </div>
    </div>
    {{/resolutions}}
	{{^resolutions}}
	<p>No resolutions…</p>
	{{/resolutions}}

	<div class="row">
		<div class="u-full-width">
			<form action="/newresolution" method="POST">
				<button type="submit" class="btn btn-primary">Create a new resolution</button>
			</form>
		</div>
	</div>


{{>footer}}

